<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HomePage</h1>

<form th:action="@{/search}" method="get">
    <input type="text" name="query" id="query"/>
    <input type="submit" value="Search for song"/>
</form>


<div class="random-content">
    <div class="content">
        <h4>5 random artists</h4>
        <ul>
            <li th:each="artist:${artists}">
                <p th:text="${artist}"></p>
            </li>
        </ul>
    </div>
    <div class="content">
        <h4>5 random songs</h4>
        <ul>
            <li th:each="song:${songs}">
                <p th:text="${song}"></p>
            </li>
        </ul>
    </div>

    <div class="content">
        <h4>5 random genres</h4>
        <ul>
            <li th:each="genre:${genres}">
                <p th:text="${genre}"></p>
            </li>
        </ul>
    </div>
</div>

</body>
</html>