<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1 class="result">Results for:
            <span th:text="${song.name}"></span>
        </h1>
    </div>

    <div class="song-info">
        <p>Artist: <span th:text="${song.artist}"></span></p>
        <p>Album: <span th:text="${song.album}"></span></p>
        <p>Genre: <span th:text="${song.genre}"></span></p>
    </div>

</body>
</html>